<!DOCTYPE html>
<html>
	<head>
		<title> JavaScript Test</title>
		<meta charset=:utf-8"/>
	</head>
	<body>
		<p> Please input grade </p>
		<input type="text" id= "demo1"/>
		<input type="button" onclick="getStatus()" value="Get status" />
		<div id="message"> </div>
		<a href="javascript:void(document.body.style.backgroundColor = 'yellow');">
		Click me! <br/></a>
		<input type="button" onclick="guessNumber()" value="Guess a number"/>
		
		<script>
			function getStatus(){
				var grade=document.getElementById("demo1").value;
				var status = (Number(grade) >= 55)? "Pass": "Fail";
				document.getElementById("message").innerHTML = status;
			}
			function guessNumber(){
				
				var guess = Math.floor((Math.random() * 100) +1);
				do{
					var x = prompt("Enter a number");
					try{
						if(x=="") throw "empty";
						if(isNaN(x)) throw "not a number";
						x=Number(x);
						if(x==guess) throw "TAMA";
						if(x<guess) throw "Higher!";
						if(x>guess) throw "Lower!";
					}catch(err){
						alert(err);
					}
				}while(x!=guess);
			}
		</script>
	</body>
</html>
