<!DOCTYPE html>
<html>
	<head>
		<title> Sign In Page </title>
		<meta charset="utf-8"/>
	</head>
	<body>
		<header><h1>SIGN IN!!!</h1></header>	
		<form method="post" action="http://localhost:5000/degree-programs">
			<input type="text" placeholder="Username" required="required"/><br><br>
			<input type="text" placeholder="Password" required="required"/><br><br>
				<input type="checkbox"/> Remember me<br><br>
			<input type="submit" value="Sign In"/><br>
		</form>
		<footer>Don't have an account? 
			<a href= "sign_up.html"> Sign Up </a>
		</footer>
	</body>
</html>
